<footer class="bg-dark text-white mt-5 py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Coobifl</h5>
                <p class="small">Discover product origins and make informed purchasing decisions</p>
            </div>
            <div class="col-md-4">
                <h6>Quick Links</h6>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-white-50">Home</a></li>
                    <li><a href="/search" class="text-white-50">Search Products</a></li>
                    <li><a href="/add-product" class="text-white-50">Add Product</a></li>
                    <li><a href="/privacy" class="text-white-50">Privacy Policy</a></li>
                    <li><a href="/terms" class="text-white-50">Terms of Service</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h6>About</h6>
                <p class="small text-white-50">
                    Know where your products come from. Coobifl helps you find product origins, materials, and manufacturing details.
                </p>
            </div>
        </div>
        <hr class="bg-white">
        <div class="text-center">
            <p class="mb-0 small">&copy; <%= new Date().getFullYear() %> Coobifl. All rights reserved.</p>
        </div>
    </div>
</footer>
